<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MenuPrincipalB.Properties.Settings.OFICINA2ConnectionString"
            connectionString="Data Source=servidor;Initial Catalog=OFICINA2;User ID=sa;Password=Se39iry0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>